body{
    background-color: #f3f6fb;
    font-size: 16px;
}
.card-header, .card-footer, .modal-header, .modal-footer{
    background-color:black !important;
    color: white;
}
/* .card-body {
    background-color: ;
} */